In [76]:
import pandas as pd
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
data = pd.read_csv("car_data.data", names=['buying_price','maintenance_cost','number_of_doors','person_capacity','boot_space','safety','na'], index_col=None)
data.head()
df=pd.DataFrame(data,  columns= ['buying_price','maintenance_cost','number_of_doors','person_capacity','boot_space','safety','na'])
df=df.drop(['na'],axis=1)
df = df.astype(str)
df

     buying_price maintenance_cost  ... boot_space safety
0           vhigh            vhigh  ...      small    low
1           vhigh            vhigh  ...      small    med
2           vhigh            vhigh  ...      small   high
3           vhigh            vhigh  ...        med    low
4           vhigh            vhigh  ...        med    med
...           ...              ...  ...        ...    ...
1723          low              low  ...        med    med
1724          low              low  ...        med   high
1725          low              low  ...        big    low
1726          low              low  ...        big    med
1727          low              low  ...        big   high

[1728 rows x 6 columns]

In [77]:
df['buying_price'] = df['buying_price'].apply(lambda x: ['low','med','high','vhigh'].index(x))
df['maintenance_cost'] = df['maintenance_cost'].apply(lambda x: ['low','med','high','vhigh'].index(x))
df['number_of_doors'] = df['number_of_doors'].apply(lambda x: ["2", "3", "4", "5more"].index(x))
df['person_capacity'] = df['person_capacity'].apply(lambda x: ["2", "4", "more"].index(x))
df['boot_space'] = df['boot_space'].apply(lambda x: ['small', 'med', 'big'].index(x))
df['safety'] = df['safety'].apply(lambda x: ["low", "med", "high"].index(x))
df=df+1
df.loc[-1]=['1','1','-1','-1','-1','-1']
df.index = df.index + 1  # shifting index
df.sort_index(inplace=True) 
df

      buying_price  maintenance_cost  ...  boot_space  safety
0                4                 4  ...           1       1
1                4                 4  ...           1       2
2                4                 4  ...           1       3
3                4                 4  ...           2       1
4                4                 4  ...           2       2
...            ...               ...  ...         ...     ...
1723             1                 1  ...           2       2
1724             1                 1  ...           2       3
1725             1                 1  ...           3       1
1726             1                 1  ...           3       2
1727             1                 1  ...           3       3

[1728 rows x 6 columns]

In [79]:
df.to_csv('car_data_processed.csv', encoding='utf-8', index=False)